<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="script/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="script/bootstrap.js"></script>
<script type="text/javascript" src="js/AngularJs/angular.min.js"></script>
<script src="script/script.js"></script>
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-3.3.2-dist/css/bootstrap.min.css">
<script type="text/javascript" src="script/AngularJs.js"></script>
</head>

<body data-ng-app="angularApp">
	<div data-ng-controller="angularController">
		<input type="text" data-ng-model="name"> {{name}} <input
			type="text" data-ng-model="lname">
		<button data-ng-click="sorting()">Sort</button>
		
		<table class="table table-hover table-bordered">
			<tr>
				<td>id</td>
				<td>name</td>
			</tr>
			<tr data-ng-repeat="user in pp | orderBy:sortBy:sort |filter:name ">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
			</tr>
		</table>
		<a href="" data-ng-click="name='pushp'">click here</a> <a href=""
			data-ng-click="name=''">click</a>
		<div>
			Hi, <span data-ng-bind="lname"></span>
		</div>
	</div>
	<div data-ng-controller="ctrl2">
		<input data-ng-model="a">
	</div>
	<div data-ng-controller="ctrl3">
		<!--  <input data-ng-model="msg">-->
		{{msg}}
			</div>

</body>
</html>